.contactUs {
  margin: 3vh 0 5vh;
  text-align: center;
}

.contactUs h1 {
  font-weight: 700;
  font-size: 300%;
  line-height: 100%;
  letter-spacing: 0.1px;
  color: #a64b2a;
  margin: 5vh 0 8vh;
  text-align: center;
}

.contactUs .container {
  margin-top: 2vh;
}

.contactUs .container h1 {
  font-weight: 700;
  font-size: 150%;
  text-align: left;
  margin: 3vh 0 3vh;
}

.contactUs .container h2 {
  font-weight: 700;
  font-size: 100%;
  text-align: left;
  margin: 1vh 0 5vh;
}

.contactUs .container form {
  padding: 1vh 1vw 2vh;
  background-color: #a64b2a;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.437);
}

.contactUs .container form .form-label {
  width: 100%;
  text-align: left !important;
  font-size: 120%;
}

.contactUs .container form input {
  padding: 1vh 1vw;
}

.contactUs .container form textarea {
  resize: none;
  height: 15vh;
}

.contactUs .container form button {
  width: 50%;
  padding: 1vh 0;
  color: #fff;
  background-color: #ec6d3f;
  outline: none;
  border: none;
}

.contactUs .container form button:hover {
  background-color: #cd5f37;
}

.contactUs .container form button:focus {
  box-shadow: none;
  outline: none;
  border: none;
}

/* responsive */
@media only screen and (max-width: 768px) {
  .contactUs {
    margin: 3vh 0 5vh;
  }

  .contactUs h1 {
    font-size: 200%;
    margin: 5vh 0 3vh;
  }

  .contactUs .container {
    width: 90%;
    margin: auto;
  }

  .contactUs .container h1 {
    font-size: 120%;
  }

  .contactUs .container h2 {
    font-size: 95%;
    margin: 1vh 0 3vh;
  }

  .contactUs .container form {
    padding: 1vh 5vw 3vh;
  }

  .contactUs .container form .form-label {
    font-size: 100%;
  }
}
