.extracurricular {
  margin: 3vh 0 10vh;
  text-align: center;
}

.extracurricular h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #a64b2a;
  margin: 5vh 0 1vh;
  text-align: center;
}

.extracurricular .container {
  padding-top: 2vh;
}
