footer {
  background-color: #a64b2a;
  color: #fff;
}

footer .top .container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

footer .top .left {
  width: 60%;
  border-right: 1px solid #fff;
  padding: 10px 20px;
  text-align: center;
}

footer .top .left img {
  width: 15%;
  margin-bottom: 3vh;
}

footer .top .left h1 {
  font-weight: 400;
  font-size: 100%;
  line-height: 140%;
  text-align: justify;
}

footer .top .right {
  text-align: center;
  width: 40%;
  display: flex;
  flex-direction: column;
  color: #fff;
}

footer .top .right ul {
  margin-top: 3vh;
}

footer .top .right ul li {
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  font-size: 100%;
  font-weight: 400;
}

footer .bot {
  background-color: #a64b2a;
  height: auto;
  margin-bottom: -2vh;
}

footer .bot p {
  padding: 1vh 1vw;
  text-align: center;
}

/* responsive */
/* mobile */
@media only screen and (max-width: 768px) {
  footer .top .container {
    flex-direction: column;
  }

  footer .top .left {
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    border-right: none;
  }

  footer .top .left img {
    width: 30%;
    margin-bottom: 3vh;
  }

  footer .top .left h1 {
    font-weight: 400;
    font-size: 90%;
  }

  footer .top .right {
    width: 100% !important;
    border-right: none;
  }

  footer .top .right ul {
    margin: 1vh auto;
    padding: 0;
    width: 90%;
  }

  footer .top .right ul li {
    width: 100% !important;
    font-size: 90%;
    font-weight: 400;
    text-align: left;
  }
}
