footer {
  background-color: #a64b2a;
  color: #fff;
}

footer .top .container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

footer .top .left {
  width: 60%;
  border-right: 1px solid #fff;
  padding: 10px 20px;
  text-align: center;
}

footer .top .left img {
  width: 15%;
  margin-bottom: 3vh;
}

footer .top .left h1 {
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  text-align: justify;
}

footer .top .right {
  text-align: center;
  width: 40%;
  display: flex;
  flex-direction: column;
  color: #fff;
}

footer .top .right ul {
  margin-top: 3vh;
}

footer .top .right ul li {
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  font-size: 15px;
  font-weight: 400;
}

footer .bot {
  background-color: #a64b2a;
  height: auto;
  margin-bottom: -2vh;
}

footer .bot p {
  padding: 20px;
  text-align: center;
}
