.history {
  margin: 3vh 0 10vh;
}

.history h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #a64b2a;
  margin: 5vh 0;
  text-align: center;
}

.history p {
  text-align: justify;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #00000095;
}
