.homepage {
  margin-bottom: 5vh;
}

.homepage .carousel {
  height: 600px;
  overflow: hidden;
}

.homepage .carousel .carousel-inner .carousel-item {
  height: 100%;
}

.homepage .carousel .carousel-inner .carousel-item img {
  height: 100%;
}

.homepage .carousel .carousel-control-prev-icon {
  background-color: #a64b2a;
  position: absolute;
  left: -2vw;
  width: 7vw;
  height: 7vh;
  border-radius: 100px;
  transition: 0.3s;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.17);
}

.homepage .carousel .carousel-control-prev-icon:hover {
  border-radius: 0;
  background-color: #a64b2a;
}

.homepage .carousel .carousel-control-next-icon {
  background-color: #a64b2a;
  position: absolute;
  right: -2vw;
  width: 7vw;
  height: 7vh;
  border-radius: 100px;
  transition: 0.3s;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.17);
}

.homepage .carousel .carousel-control-next-icon:hover {
  border-radius: 0;
  background-color: #a64b2a;
}

/* welcome  */
.welcome {
  padding: 10px;
  margin: 5vh 0 10vh;
}

.welcome .profile {
  text-align: center;
  margin: 5vh auto 1vh;
}

.welcome .profile img {
  width: 20%;
  border-radius: 180px;
  margin-bottom: 3vh;
}

.welcome .profile h1 {
  font-weight: 600;
  font-size: 150%;
  line-height: 100%;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 3vh;
}

.welcome .profile h2 {
  font-weight: 400;
  font-size: 150%;
  line-height: 100%;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 5vh;
}

.welcome .txt {
  width: 60%;
  margin: auto;
  text-align: justify;
}

.welcome .txt q {
  font-weight: 400;
  font-size: 100%;
  line-height: 100%;
  letter-spacing: 0.2px;
  color: #000000;
}

/* responsive */
@media only screen and (max-width: 768px) {
  /* carousel */
  .homepage .carousel {
    width: 100%;
    height: auto;
  }

  .homepage .carousel img {
    width: 100%;
    height: 100%;
  }

  .homepage .carousel .carousel-control-prev-icon {
    position: relative;
  }

  .homepage .carousel .carousel-control-next-icon {
    position: relative;
  }

  /* welcome */
  .homepage .welcome {
    margin: 0;
  }

  .welcome .profile img {
    width: 40%;
    border-radius: 180px;
    margin-bottom: 3vh;
  }

  .welcome .txt {
    width: 100%;
    padding: 0 5vw;
  }
}
