.vision {
  margin: 3vh 0 10vh;
}

.vision .container {
  padding: 0;
}

.vision h1 {
  font-weight: 600;
  font-size: 300%;
  line-height: 100%;
  letter-spacing: 0.1px;
  color: #a64b2a;
  margin: 3vh 0;
  text-align: center;
}

.vision p {
  text-align: justify;
  font-weight: 500;
  font-size: 110%;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #00000095;
}

.vision ol li {
  text-align: justify;
  font-weight: 500;
  font-size: 110%;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #00000095;
}

/* responsive */
@media only screen and (max-width: 768px) {
  .vision {
    margin: 3vh 0 5vh;
    padding: 0 7vw;
  }

  .vision h1 {
    font-size: 150%;
  }

  .vision p {
    font-size: 90%;
  }

  .vision ol {
    padding: 0 1.5vw;
  }

  .vision ol li {
    font-size: 90%;
    margin-left: 2vw;
  }
}
